# Core LLM + Langchain ecosystem
langchain>=1.0.0, <2.0.0
langchain-core>=1.0.0, <2.0.0
langchain-groq>=1.0.0, <2.0.0
langchain-tavily>=0.2.0, <1.0.0

#UI 
streamlit>=1.37.0

#web scraping
beautifulsoup4>=4.12.0
readability-lxml
trafilatura
requests>=2.31.0
lxml>=5.0.0

#Environment variables
Python-dotenv>=1.0.0